include(default)

{% set flags = [] %}

[settings]
compiler=Visual Studio
compiler.version=17
compiler.toolset=ClangCL

{% if os.getenv("ASAN") == "ON" -%}
  {% set flags = flags + ["-fsanitize=address"] %}
  compiler.address_sanitizer=True
{%- endif %}

{% if os.getenv("UBSAN") == "ON" -%}
  {% set flags = flags + ["-fsanitize=undefined"] %}
  compiler.ub_sanitizer=True
{%- endif %}

{% if os.getenv("TSAN") == "ON" -%}
  {% set flags = flags + ["-fsanitize=thread"] %}
  compiler.thread_sanitizer=True
{%- endif %}

[options]
[build_requires]
[env]
{% if flags -%}
  CFLAGS={{ flags|join(" ") }}
  CXXFLAGS={{ flags|join(" ") }}
  LDFLAGS={{ flags|join(" ") }}
{%- endif %}
[conf]
{% if flags -%}
  tools.build:cflags={{ flags }}
  tools.build:cxxflags={{ flags }}
  tools.build.ldflags={{ flags }}
{%- endif %}

